html,
body {
    height: auto !important;
    overflow-y: auto !important;
}

body {
    -webkit-overflow-scrolling: touch
}

#mobile-parallax {
    margin-top: 90px;
    margin-bottom: 50px;
    padding: 0 15px
}

#mobile-parallax #pages>div {
    margin: 50px 0
}

#mobile-parallax h1,
#mobile-parallax h2 {
    text-align: center;
    margin: 0 auto;
    padding: 0 25px
}

#mobile-parallax h2 {
    font-size: 19px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px
}

#mobile-parallax h3 {
    text-align: center
}

#mobile-parallax p {
    text-align: center
}

#mobile-parallax ul {
    text-align: center;
    margin-bottom: 20px
}

#mobile-parallax .offices a {
    float: left;
    width: 45%;
    margin: 0 2.5%;
    text-align: center
}

#mobile-parallax .divider {
    clear: both
}

#mobile-parallax .links {
    text-align: center
}

#mobile-parallax .links a {
    display: block;
    font-size: 20px
}

#mobile-parallax input[type="text"] {
    width: 100%
}

#mobile-parallax input[type="checkbox"] {
    margin-top: 5px;
    margin-right: 4px
}

#mobile-parallax input[type="checkbox"]+label {
    display: inline !important
}

#mobile-parallax canvas {
    max-width: 90vw
}

.page-id-58840 #mobile-parallax #page-1,
.page-id-58840 #mobile-parallax #page-2,
.page-id-58840 #mobile-parallax #page-3 {
    display: none
}

.bouncy-wrapper {
    display: none
}

#submenu {
    position: fixed;
    right: 0;
    top: 95px;
    font-size: 13px;
    text-transform: uppercase;
    width: 100%;
    text-align: right
}

.page-id-124861 #submenu {
    display: none
}

#submenu,
#submenu div {
    color: #7C6F56
}

#submenu .hamburger {
    background-color: #AC9857;
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 17px;
    right: 0px;
    top: 20px;
    padding: 1px 5px
}

#submenu .hamburger:after {
    content: '\25BC';
    display: inline-block;
    width: 20px;
    height: 17px;
    position: absolute;
    top: 0px;
    right: -1px;
    color: white;
    text-align: center;
    line-height: 18px
}

#submenu .hamburger span {
    display: block;
    width: 17px;
    height: 1px;
    background-color: white;
    margin-top: 3px;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease
}

#submenu .hamburger.open span:nth-child(1) {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 7px;
    margin-left: -3px
}

#submenu .hamburger.open span:nth-child(2) {
    opacity: 0
}

#submenu .hamburger.open span:nth-child(3) {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -5px;
    margin-left: -3px
}

#submenu .submenu-area {
    background: #7C6F56;
    text-align: left;
    color: white;
    height: auto;
    width: 0;
    position: absolute;
    right: 40px;
    top: 0;
    overflow: hidden;
    -moz-transition: ease 0.6s all;
    -o-transition: ease 0.6s all;
    -webkit-transition: ease 0.6s all;
    transition: ease 0.6s all
}

#submenu .submenu-area.open {
    width: calc(100vw - 70px)
}

#submenu .submenu-area li {
    padding: 0 15px;
    text-align: center;
    white-space: nowrap
}

#submenu .submenu-area li:last-child a {
    border-bottom: none
}

#submenu .submenu-area a {
    color: white;
    padding: 4px 0;
    border-bottom: 1px solid white;
    display: block
}

.description {
    text-align: center
}