@font-face {
    font-family: 'Dotto';
    src: url("fonts/DottoDeluxeNeu.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Underground';
    src: url("fonts/DINNeuzeitGrotesk-Light.eot");
    src: url("fonts/DINNeuzeitGrotesk-Light.eot") format("embedded-opentype"), url("fonts/DINNeuzeitGrotesk-Light.ttf") format("truetype"), url("fonts/DINNeuzeitGrotesk-Light.woff") format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'icomoon';
    src: url("fonts/icomoon.eot?4kxdjc");
    src: url("fonts/icomoon.eot?#iefix4kxdjc") format("embedded-opentype"), url("fonts/icomoon.ttf?4kxdjc") format("truetype"), url("fonts/icomoon.woff?4kxdjc") format("woff"), url("fonts/icomoon.svg?4kxdjc#icomoon") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'TubeFont';
    src: url("fonts/p22-johnston-underground.ttf?4kxdjc") format("truetype"), url("fonts/p22-johnston-underground.woff?4kxdjc") format("woff"), url("fonts/p22-johnston-underground.svg?4kxdjc#icomoon") format("svg");
    font-weight: normal;
    font-style: normal
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.custombedroom {
    width: 100% !important;
}
.icon-receptions:before {
    content: "\e604"
}

.icon-bathrooms:before {
    content: "\e605"
}

.icon-beds:before {
    content: "\e606"
}

.icon-photo:before {
    content: "\e600"
}

.icon-map:before {
    content: "\e601"
}

.icon-grid:before {
    content: "\e602"
}

.icon-a-z:before {
    content: "\e603"
}

.refined-search {
    height: 54px;
    background-color: rgba(23, 23, 23, 0.9);
    line-height: 54px; 
    z-index: 5;
    position: relative;
    vertical-align: top;
    width: 100%;
    display: table
}

.refined-search h3 {
    display: inline-block;
    line-height: inherit;
    font-size: 19px;
    color: white;
    margin: 0;
    padding: 0 15px;
    -webkit-font-smoothing: antialiased
}

.refined-search form {
    display: inline-block;
    width: 100%;
    display: table-row;
}

.refined-search .table-cell {
    display: table-cell;
    vertical-align: top
}

@media screen and (max-width: 910px) {
    .refined-search .table-cell.text-center {
        display: none
    }
}

@media screen and (min-width: 911px) {
    .refined-search .table-cell.text-center {
        display: table-cell !important
    }
}

@media screen and (max-width: 768px) {
    .refined-search .table-cell {
        display: block;
        width: 100%
    }
}

@media screen and (max-width: 768px) {
    .refined-search .table-cell:nth-child(2),
    .refined-search .table-cell:nth-child(3) {
        display: none
    }
}

.refined-search .table-cell:nth-child(1) {
    min-width: 180px
}

@media screen and (max-width: 768px) {
    .refined-search .table-cell:nth-child(2) {
        border-top: 2px solid black;
        float: left
    }
}

.refined-search .table-cell:nth-child(3) {
    min-width: 165px
}

@media screen and (max-width: 768px) {
    .refined-search .table-cell:nth-child(3) {
        float: left;
        width: 100%
    }
}

.refined-search.open .table-cell:nth-child(2),
.refined-search.open .table-cell:nth-child(3) {
    display: block
}

.refined-search div.sehp {
    padding: 0;
    margin-top: 0;
    display: inline-block
}

.refined-search input[type="radio"] {
    position: relative;
    left: -30px;
    display: none !important
}

.refined-search input[type="radio"]+label {
    position: relative;
    padding-right: 30px;
    font-size: 19px;
    color: white;
    cursor: pointer;
    -webkit-font-smoothing: antialiased
}

@media screen and (max-width: 1555px) {
    .refined-search input[type="radio"]+label {
        font-size: 17px
    }
}

@media screen and (max-width: 1470px) {
    .refined-search input[type="radio"]+label {
        font-size: 16px
    }
}

.refined-search input[type="radio"]+label:before {
    content: '';
    display: block;
    position: absolute;
    right: 6px;
    top: 2px;
    width: 18px;
    height: 18px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer
}

.refined-search input[type="radio"]+label:after {
    content: '';
    display: block;
    position: absolute;
    right: 10px;
    top: 6px;
    width: 10px;
    height: 10px;
    background: #AC9857;
    border-radius: 50%;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0)
}

.refined-search input[type="radio"]:checked+label {
    font-weight: normal !important
}

.refined-search input[type="radio"]:checked+label:after {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1)
}

.refined-search .optionsholder {
    position: absolute;
    top: 42px;
    min-width: 190px;
    background: #fff;
    z-index: 2;
    left: 50%;
    opacity: 0;
    height: 0;
    pointer-events: none;
    transform: scale(0, 0) translateX(-50%);
    transition: opacity 0.4s ease, transform 0.4s ease, height 0.4s ease
}

.refined-search .optionsholder.visible {
    height: auto;
    opacity: 1;
    transform: scale(1, 1) translateX(-50%);
    pointer-events: auto
}

.refined-search .optionsholder p {
    padding: 5px 0;
    margin: 0;
    text-align: center;
    float: none;
    font-size: 12px;
    line-height: 12px;
    color: #7C6F56;
    cursor: pointer;
    transition: all 0.4s ease
}

.refined-search .optionsholder p:hover {
    color: #a69646 !important
}

.refined-search .optionsholder p.hidden {
    display: none
}

.refined-search .optionsholder hr {
    margin: 0 auto;
    color: #7C6F56;
    border-color: #7C6F56
}

.refined-search .optionsholder .subsubmenu {
    top: 50%;
    left: 50%
}

.refined-search .optionsholder .subsubmenu li {
    border: solid #342F1F;
    border-width: 0 0 1px;
    padding: 2px 0
}

.refined-search .optionsholder .subsubmenu li:hover a {
    color: #d3bc67
}

.refined-search .optionsholder .subsubmenu li:last-child {
    border: none
}

.refined-search .relative-optionsholder {
    background: #fff;
    padding: 7px 14px 7px 14px;
    color: #fff;
    max-height: 450px;
    max-height: 300px;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    min-width: 190px;
    z-index: 2
}

.refined-search .relative-optionsholder::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px
}

.refined-search h2.seh {
    cursor: pointer;
    color: white;
    text-align: center;
    font-weight: normal;
    margin-bottom: 0;
    display: inline-block;
    font-size: 19px;
    margin-right: 5px;
    -webkit-font-smoothing: antialiased
}

@media screen and (max-width: 1555px) {
    .refined-search h2.seh {
        font-size: 17px
    }
}

@media screen and (max-width: 1470px) {
    .refined-search h2.seh {
        font-size: 16px
    }
}

.refined-search h2.seh.arrow:after {
    content: '';
    display: block;
    position: absolute;
    right: 7px;
    top: 11px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 9px solid #fff
}

.refined-search h2.seh.arrow:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.refined-search .sehp {
    display: inline-block;
    font-size: 14px;
    color: #AC9857;
    pointer-events: none
}

.refined-search .sehp.sales-sales {
    margin-left: 10px
}

@media screen and (max-width: 768px) {
    .refined-search .sehp.sales-sales {
        clear: left
    }
}

@media screen and (max-width: 768px) {
    .refined-search .sehp.sales-let {
        float: left;
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: -10px;
        line-height: 40px
    }
}

.refined-search button[type="submit"] {
    color: white;
    font-size: 19px;
    background: #ac9757;
    padding: 0 20px;
    display: inline-block;
    line-height: 32px;
    height: 32px;
    border: 0;
    font-family: "Gilda Display", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    margin-bottom: -2px;
    border-radius: 5px;
    margin-right: 15px
}

@media screen and (max-width: 1555px) {
    .refined-search button[type="submit"] {
        font-size: 17px
    }
}

@media screen and (max-width: 1470px) {
    .refined-search button[type="submit"] {
        font-size: 16px;
        padding: 0 15px
    }
}

@media screen and (max-width: 420px) {
    .refined-search button[type="submit"] {
        width: 95%
    }
}

@media screen and (max-width: 768px) {
    .refined-search button[type="submit"] {
        float: left;
        margin: 10px 0 10px 10px
    }
}

.refined-search button[type="submit"]:focus {
    color: #000;
    outline: 0
}

.refined-search button[type="submit"]:after {
    content: '\25B6';
    font-size: 15px;
    margin-left: 5px
}

.refined-search .refine-arrow {
    position: relative;
    background: #AC9857;
    height: 100%
}

@media screen and (max-width: 768px) {
    .refined-search .refine-arrow {
        margin-right: 30px;
        float: left
    }
}

.refined-search .refine-arrow:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -16px;
    width: 0;
    height: 0;
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
    border-left: 16px solid #AC9857
}

@media screen and (max-width: 767px) {
    .refined-search .refine-arrow:after {
        display: none
    }
}

.sehp+.ser {
    padding-right: 7px
}

.ser {
    display: inline-block;
    position: relative;
    height: 32px;
    line-height: 32px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0 7px;
    padding-right: 26px;
    margin: 0 4px
}

.ser.ser5 {
    padding-right: 7px
}

@media screen and (max-width: 1470px) {
    .ser {
        margin: 0 15px 0 7px
    }
}

@media screen and (max-width: 1330px) {
    .ser {
        margin: 0 15px 0 3px
    }
}

@media screen and (max-width: 768px) {
    .ser {
        float: left;
        margin-right: 0px;
        margin-top: 10px;
        margin-left: 10px
    }
}

.ser.ser5 {
    display: inline-block;
    position: relative
}

@media screen and (max-widht: 768px) {
    .ser.ser5 {
        clear: none;
        left: 0;
        -moz-transform: none;
        -ms-transform: none;
        -webkit-transform: none;
        transform: none
    }
}

.ser.ser5 #property {
    background: none;
    outline: none;
    border: none;
    padding: 2px 5px;
    margin-top: 0;
    color: white;
    line-height: 22px;
    width: 120px !important;
    font-family: "Gilda Display", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    position: relative;
    top: -2px
}

@media screen and (max-width: 1470px) {
    .ser.ser5 #property {
        width: 135px
    }
}

@media screen and (max-width: 767px) {
    .ser.ser5 #property {
        color: #AC9857
    }
}

.ser.ser5 .autocomplete-list {
    left: auto;
    right: 0;
    top: 41px;
    max-height: 150px;
    position: absolute;
    width: 190px;
    margin: auto;
    opacity: 0;
    pointer-events: none;
    -moz-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
    height: auto;
    bottom: auto;
    max-height: 15vh;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px
}

.ser.ser5 .autocomplete-list.visible {
    opacity: 1;
    pointer-events: all
}

.ser.ser5 .autocomplete-list li {
    padding: 5px 0;
    margin: 0;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    color: #7c6f56;
    cursor: pointer
}

.quick-request-link {
    font-size: 19px;
    color: white;
    padding: 0 20px;
    -webkit-font-smoothing: antialiased
}

@media screen and (max-width: 1555px) {
    .quick-request-link {
        font-size: 17px;
        padding: 0 15px
    }
}

@media screen and (max-width: 1470px) {
    .quick-request-link {
        font-size: 16px;
        padding: 0 10px
    }
}

@media screen and (max-width: 420px) {
    .quick-request-link {
        width: 100%;
        text-align: center
    }
}

@media screen and (max-width: 768px) {
    .quick-request-link {
        float: right
    }
}

.quick-request-link:after {
    content: '\25BC';
    font-size: 15px;
    margin-left: 5px
}

#register.open {
    display: block
}

#register.visible {
    display: block
}

#register .fake-link {
    display: block;
    height: 60px;
    margin-top: -60px;
    width: 285px;
    margin-left: -20px;
    cursor: pointer
}

#register .the-content {
    background: #fff;
    width: 100%;
    margin-top: 0;
    overflow: hidden;
    width: 262px;
    position: relative;
    margin-left: 39px;
    height: 100%;
    max-height: 48vh
}

#register {
    position: fixed;
    top: 250px;
    z-index: 7;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    margin-top: 0;
    width: 262px;
    margin-left: 0;
    left: auto;
    right: 0;
    transform: translateX(150%)
}

#register.visible {
    opacity: 1;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.blog #register.visible {
    right: 20px
}

#register {
    right: 0
}

#register input[type="radio"] {
    position: relative;
    left: -30px
}

#register input[type="radio"]+label {
    position: relative;
    padding-left: 5px
}

#register input[type="radio"]+label:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #7C6F56;
    border-radius: 50%
}

#register input[type="radio"]+label:after {
    content: '';
    display: block;
    position: absolute;
    left: 3px;
    top: 3px;
    width: 10px;
    height: 10px;
    background: #7C6F56;
    border-radius: 50%;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0)
}

#register input[type="radio"]:checked+label {
    font-weight: normal !important
}

#register input[type="radio"]:checked+label:after {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1)
}

#register h3 {
    text-transform: uppercase;
    margin: 0;
    padding: 10px 20px 0 20px;
    font-size: 14px;
    color: #ab9756
}

#register>.title {
    pointer-events: none;
    color: #fff;
    z-index: 3;
    width: 321px;
    position: relative;
    cursor: pointer;
    line-height: 1;
    font-size: 28px;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    margin-left: -55px;
    margin-top: -107px
}

#register>.title .arrow {
    font-size: 14px;
    margin-top: -7px;
    position: absolute;
    top: 50%;
    right: 10px;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease
}

#register .the-content {
    background: #fff;
    width: 100%;
    margin-top: 0;
    overflow: hidden;
    width: 262px;
    position: relative;
    margin-left: 0;
	padding-top:60px;
}

#register .the-content #worth-popup .gform_wrapper,
#register .the-content>.gform_wrapper {
    width: 262px;
    margin: 0 auto
}

#register .the-content #worth-popup .gform_wrapper .gform_wrapper,
#register .the-content>.gform_wrapper .gform_wrapper {
    margin-top: 0
}

#register .the-content #worth-popup .gform_wrapper .gfield_html,
#register .the-content>.gform_wrapper .gfield_html {
    margin: 0
}

#register .the-content #worth-popup .gform_wrapper .gform_confirmation_message,
#register .the-content>.gform_wrapper .gform_confirmation_message {
    margin: 0
}

#register .the-content #worth-popup .gform_wrapper form,
#register .the-content>.gform_wrapper form {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    font-family: 'Gilda Display';
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease
}

#register .the-content #worth-popup .gform_wrapper form .gform_heading,
#register .the-content>.gform_wrapper form .gform_heading {
    margin: 0;
    padding-top: 10px;
    line-height: 18px
}

#register .the-content #worth-popup .gform_wrapper form .description,
#register .the-content>.gform_wrapper form .description {
    margin-top: -5px
}

#register .the-content #worth-popup .gform_wrapper form .gform_description,
#register .the-content>.gform_wrapper form .gform_description {
    text-transform: uppercase;
    font-size: 13px
}

#register .the-content #worth-popup .gform_wrapper form .ginput_container,
#register .the-content>.gform_wrapper form .ginput_container {
    margin: 0
}

#register .the-content #worth-popup .gform_wrapper form label,
#register .the-content #worth-popup .gform_wrapper form span,
#register .the-content>.gform_wrapper form label,
#register .the-content>.gform_wrapper form span {
    color: #ab9756;
    font-size: 15px;
    margin: 0
}

#register .the-content #worth-popup .gform_wrapper form input,
#register .the-content #worth-popup .gform_wrapper form textarea,
#register .the-content>.gform_wrapper form input,
#register .the-content>.gform_wrapper form textarea {
    width: 100%;
    max-width: 240px;
    display: block;
    margin: 7px auto;
    height: 33px;
    padding-left: 5px;
    border: 1px solid #c0c2c4
}

#register .the-content #worth-popup .gform_wrapper form .gfield_radio input,
#register .the-content>.gform_wrapper form .gfield_radio input {
    display: none !important
}

#register .the-content #worth-popup .gform_wrapper form .gfield_radio li,
#register .the-content>.gform_wrapper form .gfield_radio li {
    margin-right: 10px !important
}

#register .the-content #worth-popup .gform_wrapper form .gfield_radio label,
#register .the-content>.gform_wrapper form .gfield_radio label {
    font-size: 14px
}

#register .the-content #worth-popup .gform_wrapper form input,
#register .the-content>.gform_wrapper form input {
    font-size: 14px
}

#register .the-content #worth-popup .gform_wrapper form input[type="radio"],
#register .the-content>.gform_wrapper form input[type="radio"] {
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-left: 2px;
    opacity: 0;
    pointer-events: none
}

#register .the-content #worth-popup .gform_wrapper form input+label,
#register .the-content>.gform_wrapper form input+label {
    cursor: pointer;
    padding-left: 25px
}

#register .the-content #worth-popup .gform_wrapper form input+label:before,
#register .the-content>.gform_wrapper form input+label:before {
    border: 1px solid #c0c2c4 !important;
    left: 3px !important
}

#register .the-content #worth-popup .gform_wrapper form input+label:after,
#register .the-content>.gform_wrapper form input+label:after {
    background: #c0c2c4;
    left: 6px !important
}

#register .the-content #worth-popup .gform_wrapper form select,
#register .the-content>.gform_wrapper form select {
    width: 128px;
    height: 28px;
    background: white;
    color: #ab9756;
    margin-right: 28px
}

#register .the-content #worth-popup .gform_wrapper form .div-select,
#register .the-content>.gform_wrapper form .div-select {
    display: inline-block;
    margin-right: 28px;
    width: 128px;
    margin-top: 15px
}

#register .the-content #worth-popup .gform_wrapper form .div-select-2,
#register .the-content>.gform_wrapper form .div-select-2 {
    margin-right: 0
}

#register .the-content #worth-popup .gform_wrapper form textarea,
#register .the-content>.gform_wrapper form textarea {
    height: 70px;
    font-size: 12px;
    padding: 10px
}

#register .the-content #worth-popup .gform_wrapper form input[type="submit"],
#register .the-content>.gform_wrapper form input[type="submit"] {
    background: #818181 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAJCAYAAAACTR1pAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAACDSURBVCiRlZCxDcIwFERfHGqXTJBB2CtSOhZhArbICpSpKakdPZoPMiER4aSTrbt7zW/UG3AEMvv0AO4J6IArMO6Axth2jVoiPAMz0APtApijb6MnVWUf7wmYqnyKrN6AWhYe1Kxewjmyj90a+IIJf0FqOWwcYdj4v1Uf5y+l35N1PQELJ4H5a5SMTgAAAABJRU5ErkJggg==) left 20px top 12px no-repeat;
    color: white;
    font-size: 14px;
    height: 35px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease
}

#register .the-content #worth-popup .gform_wrapper form input[type="submit"]:hover,
#register .the-content>.gform_wrapper form input[type="submit"]:hover {
    background-color: #686868
}

#register .the-content #worth-popup .gform_wrapper form .name label,
#register .the-content #worth-popup .gform_wrapper form .phone label,
#register .the-content #worth-popup .gform_wrapper form .email label,
#register .the-content #worth-popup .gform_wrapper form .description label,
#register .the-content #worth-popup .gform_wrapper form .country label,
#register .the-content>.gform_wrapper form .name label,
#register .the-content>.gform_wrapper form .phone label,
#register .the-content>.gform_wrapper form .email label,
#register .the-content>.gform_wrapper form .description label,
#register .the-content>.gform_wrapper form .country label {
    display: none
}

#register .the-content #worth-popup .gform_wrapper form .description,
#register .the-content>.gform_wrapper form .description {
    padding: 0
}

#register .the-content #worth-popup .gform_wrapper form .toggle-radio,
#register .the-content>.gform_wrapper form .toggle-radio {
    font-size: 16px;
    font-weight: bold
}

#register .the-content #worth-popup .gform_wrapper form .toggle-radio:focus,
#register .the-content #worth-popup .gform_wrapper form .toggle-radio:active,
#register .the-content>.gform_wrapper form .toggle-radio:focus,
#register .the-content>.gform_wrapper form .toggle-radio:active {
    color: #AC9857
}

#register .the-content #worth-popup .gform_wrapper form .toggle-radio:after,
#register .the-content>.gform_wrapper form .toggle-radio:after {
    content: '';
    background: url('../img/arrow-down.png?1455538052') center no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 10px;
    margin-left: 10px
}

#register .the-content #worth-popup .gform_wrapper form .toggle-radio.no-arrow:after,
#register .the-content>.gform_wrapper form .toggle-radio.no-arrow:after {
    opacity: 0
}

#register .the-content #worth-popup .gform_wrapper form .radio-would li,
#register .the-content>.gform_wrapper form .radio-would li {
    display: inline-block
}

#register .the-content #worth-popup .gform_wrapper form .radio-would input[type="radio"],
#register .the-content>.gform_wrapper form .radio-would input[type="radio"] {
    display: inline-block;
    vertical-align: top;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 2px
}

#register .the-content #worth-popup .gform_wrapper form .radio-would label,
#register .the-content>.gform_wrapper form .radio-would label {
    width: 200px;
    display: inline-block;
    margin-top: 0;
    font-size: 13px;
    line-height: 1.15
}

#register .the-content #worth-popup .gform_wrapper form .radio-would>label,
#register .the-content>.gform_wrapper form .radio-would>label {
    display: none
}

#register .the-content #worth-popup .gform_wrapper form .radio-interest .ginput_container,
#register .the-content>.gform_wrapper form .radio-interest .ginput_container {
    display: inline-block;
    vertical-align: middle
}

#register .the-content #worth-popup .gform_wrapper form .radio-interest .ginput_container li,
#register .the-content>.gform_wrapper form .radio-interest .ginput_container li {
    display: inline-block;
    margin: 0;
    vertical-align: middle
}

#register .the-content #worth-popup .gform_wrapper form .radio-interest .ginput_container label,
#register .the-content>.gform_wrapper form .radio-interest .ginput_container label {
    display: inline-block;
    margin-right: 0
}

#register .the-content #worth-popup .gform_wrapper form .radio-interest .ginput_container input,
#register .the-content>.gform_wrapper form .radio-interest .ginput_container input {
    margin-top: 4px
}

#register .the-content #worth-popup .gform_wrapper form .budget,
#register .the-content #worth-popup .gform_wrapper form .bedrooms,
#register .the-content #worth-popup .gform_wrapper form .select,
#register .the-content>.gform_wrapper form .budget,
#register .the-content>.gform_wrapper form .bedrooms,
#register .the-content>.gform_wrapper form .select {
    display: inline-block;
    margin-top: 10px;
    width: 100px;
    overflow: hidden;
    position: relative;
    outline: 1px solid #c0c2c4
}

#register .the-content #worth-popup .gform_wrapper form .budget label,
#register .the-content #worth-popup .gform_wrapper form .bedrooms label,
#register .the-content #worth-popup .gform_wrapper form .select label,
#register .the-content>.gform_wrapper form .budget label,
#register .the-content>.gform_wrapper form .bedrooms label,
#register .the-content>.gform_wrapper form .select label {
    position: absolute;
    background: url('../img/arrow-down.png?1455538052') center no-repeat;
    width: 11px;
    height: 10px;
    right: 5px;
    top: 8px;
    z-index: 1
}

#register .the-content #worth-popup .gform_wrapper form .budget .ginput_container,
#register .the-content #worth-popup .gform_wrapper form .bedrooms .ginput_container,
#register .the-content #worth-popup .gform_wrapper form .select .ginput_container,
#register .the-content>.gform_wrapper form .budget .ginput_container,
#register .the-content>.gform_wrapper form .bedrooms .ginput_container,
#register .the-content>.gform_wrapper form .select .ginput_container {
    display: inline-block
}

#register .the-content #worth-popup .gform_wrapper form .budget select,
#register .the-content #worth-popup .gform_wrapper form .bedrooms select,
#register .the-content #worth-popup .gform_wrapper form .select select,
#register .the-content>.gform_wrapper form .budget select,
#register .the-content>.gform_wrapper form .bedrooms select,
#register .the-content>.gform_wrapper form .select select {
    width: 125px;
    height: 28px;
    background: white;
    color: #ab9756;
    margin: 0;
    font-size: 14px
}

#register .the-content #worth-popup .gform_wrapper form .bedrooms,
#register .the-content>.gform_wrapper form .bedrooms {
    float: right
}

#register .the-content #worth-popup .gform_wrapper form .gform_footer,
#register .the-content>.gform_wrapper form .gform_footer {
    margin: 0;
    padding: 0
}

#register .the-content #worth-popup .gform_wrapper form .riverside>label,
#register .the-content>.gform_wrapper form .riverside>label {
    display: inline-block;
    vertical-align: top
}

#register .the-content #worth-popup .gform_wrapper form .riverside>label+div,
#register .the-content>.gform_wrapper form .riverside>label+div {
    display: inline-block;
    vertical-align: middle
}

#register .the-content #worth-popup .gform_wrapper form .riverside input[type="checkbox"],
#register .the-content>.gform_wrapper form .riverside input[type="checkbox"] {
    display: none
}

#register .the-content #worth-popup .gform_wrapper form .riverside input[type="checkbox"]+label,
#register .the-content>.gform_wrapper form .riverside input[type="checkbox"]+label {
    display: block;
    width: 16px;
    height: 16px;
    margin: 0 0 0 10px;
    border: 1px solid #c0c2c4;
    position: relative;
    padding: 0;
    color: transparent
}

#register .the-content #worth-popup .gform_wrapper form .riverside input[type="checkbox"]+label:before,
#register .the-content>.gform_wrapper form .riverside input[type="checkbox"]+label:before {
    content: '\2713';
    color: #c0c2c4;
    border: none !important;
    position: absolute;
    left: 2px !important;
    top: 0;
    font-size: 14px;
    line-height: 16px;
    opacity: 0;
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease
}

#register .the-content #worth-popup .gform_wrapper form .riverside input[type="checkbox"]:checked+label:before,
#register .the-content>.gform_wrapper form .riverside input[type="checkbox"]:checked+label:before {
    opacity: 1;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1)
}

#register .the-content #worth-popup .gform_wrapper form .riverside ul label,
#register .the-content>.gform_wrapper form .riverside ul label {
    line-height: 32px
}

#register .the-content #worth-popup .gform_wrapper .gform_wrapper ul.gfield_radio li,
#register .the-content>.gform_wrapper .gform_wrapper ul.gfield_radio li {
    overflow: visible !important
}

#register .the-content .disclaimer {
    display: block;
    padding: 0 20px;
    color: #b1b1b1;
    font-size: 11px;
    padding-bottom: 10px
}

#register.open .title .arrow {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

#register.open .the-content form {
    opacity: 1;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.view-other {
    text-align: center;
    position: fixed;
    bottom: 12px;
    right: 20px;
    width: 262px;
    z-index: 7;
    -moz-transform: translate(110%, -100%);
    -ms-transform: translate(110%, -100%);
    -webkit-transform: translate(110%, -100%);
    transform: translate(110%, -100%);
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease
}

.view-other.visible {
    opacity: 1;
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%)
}

.view-other a {
    color: #fff;
    font-size: 17px;
    display: block;
    max-width: 252px;
    text-align: left
}

.view-other a:after {
    content: '\25bc';
    display: inline-block;
    vertical-align: top;
    padding-left: 20px
}

@media only screen and (max-width: 50em) {
    article.parallax #register {
        top: 50%;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
    }
    article.parallax #register.visible {
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%)
    }
}

.dropdown {
    display: inline-block
}

@media screen and (min-width: 1300px) {
    .dropdown {
        left: calc( 90vw - 100%)
    }
}

@media screen and (min-width: 1500px) {
    .dropdown {
        left: calc( 95vw - 100%)
    }
}

@media screen and (min-width: 1680px) {
    .dropdown {
        left: calc( 100vw - 100%)
    }
}

@media screen and (max-width: 768px) {
    .dropdown {
        height: 0
    }
    .open .dropdown {
        height: 100%
    }
}

#refine-inputs {
    position: relative;
    float: right;
    width: calc( 100% - 210px);
    height: 54px;
}

#refine-inputs .dropdown {
    position: absolute;
    width: 1150px;
    top: 0;
    pointer-events: all
}
#refine-inputs .refine-wrapper {
    position: absolute;
    right: 0;
    width: 100%;
    height: 400px;
    overflow: hidden;
    pointer-events: none
}

@media all and (-ms-high-contrast:none) {
     .refine-wrapper { margin-top: -50px; } 
     *::-ms-backdrop, .refine-wrapper { margin-top: -50px; } 
    
    #refine-inputs { height: 0px; }   
    *::-ms-backdrop, #refine-inputs { height: 0px; }  
}

_::-webkit-:not(:root:root), .refine-wrapper {
  margin-top: -50px;
}
_::-webkit-:not(:root:root), #refine-inputs {
  height: 0px;
}
