//zIndex values
$zindex__menu: 10;

//Menu
$size__top-bar-height: 45px;

//Menu items
$size__site-menu-li-width: 25%;
$size__site-menu-li-height: 50%;
$size__site-menu-h3: 36px;
$size__site-menu-h3-small: 18px;

$size__mobile: 768px;
$size__tablet: 64em;