@import "compass/css3";

#mobile-developments {
	margin-top: 100px;
}

body {
	overflow-y: auto;
}

.shadow {
	width: 100vw;
	position: fixed;
}

#pages {
	position: relative;

	> div {
		margin: 75px 0;
	}
}

.the-strips ul li {
	border-bottom: 1px solid white;
	margin-bottom: 15px;
}

.the-strips ul h4, .the-strips ul h3 {
	font-size: 32px;
	padding: 0 15px;
}

.the-strips ul p {
	padding: 0 15px;
}

.content .the-strips {
	height: auto;
}

#facilities table {
	padding: 0 15px;
	text-align: center;
	border-spacing: 0;
	width: 100%;

	td {
		border-bottom: 1px solid white;
		border-right: 1px solid white;
		padding: 4px 0;

		&:last-child {
			border-right: none;
		}
	}

	tr:last-child {
		td {
			border-bottom: none;
		}
	}
}

#home h1 {
	color: white;
	text-align: center;
}

.mobile-buttons {
    color: white;
    text-transform: uppercase;
    display: block;
    text-align: center;
    border: 1px solid white;
    margin-top: 10px;
    padding: 2px 0 0;
    background: #AC9857;
    border: 1px solid #AC9857;
}

.mobile-buttons,
.sub-title.circle-line {
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
}

#worth-popup {
	position: absolute;
	top: 0;
	left: 50%;
	@include transform( translateX(-50%) );
	width: 90%;

	h2 {
		position: static !important;
		margin: 0 !important;
	}

	form {
		margin: 0 -10px;
		padding: 0 15px;
		background: white;
	}

	.name {
		display: block !important;

		input {
			width: 100% !important;
			max-width: none !important;
		}
	}
}

.content .the-strips ul li {
	margin-bottom: 0;
	background: none;
}

.the-strips ul h3 {
	box-sizing: border-box;
	text-align: left;
	padding-left: 15px !important;
	margin-top: 12px;
}

#facilities table {
	text-align: left;
}

.the-strips ul p {
	text-align: left !important;

	span {
		font-size: 16px !important;
		line-height: 20px;
	}
}

.shadow {
	background: rgba(0,0,0,.65) !important;
}

.sub-title.circle-line {
	border: 1px solid;
	padding: 3px 0;
}

#galleries .image {
  margin: 10px 5px;
}

#updates {
	#news-list {
		h3 {
			line-height: 1.1;
			margin-bottom: 5px;
		}

		.images,
		.wp-caption {
			width: auto !important;
			text-align: center;
			margin-left: 0 !important;
			margin-right: 0 !important;
			margin-bottom: 10px;

			img {
				max-width: 90%;
			}
		}

		.show-content {
			padding-left: 15px;
		}

		.socials {
			width: 100%;
			padding-left: 15px;

			li {
				display: inline-block;
				border-bottom: 0;
				margin-right: 15px;
				margin-bottom: 0;
			}
		}

		.hide-content {
			display: none;
		}

		.news-content,
		.hide-content {
			ul {
				list-style: initial;
				padding-left: 15px;
			}

			li {
				border-bottom: 0;
			}
		}
	}
}

.mobile-view-location {
	display: block;
	margin-top: 10px;
	margin-bottom: -25px;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid;
	padding: 3px 0 0px;
}