$mainWidth: 420;

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: black;
    font-family: "Gilda Display", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

}

#header {
    background: white;
    text-align: center;
}

.site-logo {
    width: 95%;
    max-width: 250px;
    padding: 13px 0 7px;
}

h1 {
    color: white;
    font-size: 52px;
    line-height: 62px;
    font-weight: 200;
}

p {
    color: #808284;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 35px;
}

#main {
    text-align: center;
    width: $mainWidth + px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: - $mainWidth / 2 + px;
    margin-top: -163px;
}

.update-links {
    margin: 0 auto;

    td {
        padding: 0 15px;
    }
}